# Inspired by https://trash-guides.info/How-to-setup-for/Synology

PUID=
PGID=
CADDYUID=
CADDYGID=
TZ=
PLEX_CLAIM=
DOCKER_CONF_DIR=
STATIC_IP=

# If you use transmission
TRANSMISSION_USERNAME=
TRANSMISSION_PASSWORD=

# For caddy
CLOUDFLARE_API_TOKEN=
