*.martinbjeldbak.com {
  tls me@martinbjeldbak.com {
    dns cloudflare {env.CLOUDFLARE_API_TOKEN}
  }

  log {
    output file /data/access.log
  }

  @dns host dns.martinbjeldbak.com
  handle @dns {
    reverse_proxy adguardhome:3000

    encode gzip
  }

  @homeassistant host homeassistant.martinbjeldbak.com
  handle @homeassistant {
    reverse_proxy homeassistant:8123

    encode gzip
  }

  @plex host plex.martinbjeldbak.com
  handle @plex {
    reverse_proxy plex:32400

    encode gzip
  }

  @jackett host jackett.martinbjeldbak.com
  handle @jackett {
    reverse_proxy jackett:9117

    encode gzip
  }

  @radarr host radarr.martinbjeldbak.com
  handle @radarr {
    reverse_proxy radarr:7878

    encode gzip
  }

  @sonarr host sonarr.martinbjeldbak.com
  handle @sonarr {
    reverse_proxy sonarr:8989

    encode gzip
  }

  @torrents host torrents.martinbjeldbak.com
  handle @torrents {
    reverse_proxy transmission:9091

    encode gzip
  }

  # Fallback for otherwise unhandled domains
  handle {
    abort
  }
}
