*.martinbjeldbak.com {
  tls me@martinbjeldbak.com {
    dns cloudflare {env.CLOUDFLARE_API_TOKEN}
  }

  log {
    output file /data/access.log
  }

  @dns host dns.martinbjeldbak.com
  handle @dns {
    encode gzip
    reverse_proxy adguardhome:3000
  }

  # osv..

  # Fallback for otherwise unhandled domains
  handle {
    abort
  }
}
